:root{
    --color-red:#eb4a5a;
    --color-blue:#274671;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}
span{
    color: red;
}

.w-65{
    width: 65%;
    margin: auto;
}
.w-80{
    width: 80%;
    margin: auto;
}

/*pra los botones*/
.color-white{
    color: white;
}
.bg-red{
    background-color: var(--color-red);
}
.color-blue{
    color: var(--color-blue);
}
.bd-blue{
    border: 1px solid var(--color-blue);
}

.img-carrito{
    width: 3rem;
    height: 3rem;
}